.charts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}
.charts__chart-wrapper {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
