.layout-main {
    min-height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    max-width: 1670px;
    margin-left: auto;
    margin-right: auto;


}
.layout-main-charts-wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.layout-main-controls{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    /* min-width: 100vw; */
}

.layout-main-description{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.layout-main-description h1{
    font-size: 36px;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-top: 0;
}

.layout-main-description p{
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

@media screen and (max-width: 1000px){
    .layout-main-controls{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
.layout-main-charts-wrapper{
        flex-direction: column;
    }
}
