.filter__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
  color: #343434;
}

.filter__tag {
  display: flex;
  width: fit-content;
  align-items: center;
  border: 1px solid #d7cfcf;
  border-radius: 5px;
  padding-left: 3px;
  padding-bottom: 2px;
  font-size: 75%;
  background-color: #e2dddd;
  margin-right: 5px;
  height: 24px;
  gap: 3px;
}
.filter__tag_close {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 0;
  border: none;
}
.filter__tag_close:hover,
.filter__tag_close:focus {
  background-color: #c0baba;
  border: transparent;
}
.tags_crossIcon__svgWrapper {
  height: 23px;
}
.tags_crossIcon__svg {
  color: #343434;
}
