.jb-accordion-item__svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transform: rotate(45deg);
    transition: transform var(--wt-transition-fast, .3s)
ease-out;
}

.jb-accordion-item__svg--expanded {
  transform: rotate(90deg);
}
.accordeon__title{
    padding-left: 10px;
    padding-bottom: 10px;
}
.accordeon_trigger {
    display:flex;
    justify-content:flex-start;
}
